body{
    /*background-color: #E3EEFA;*/
    background-color: #eceeef;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', sans-serif;
 }

 .container-fluid {
     padding: 0px;
 }
 
 .margin-bottom-20 {
    margin-bottom: 20px;
 }


 .navbar {
    box-shadow: 0px 6px 8px grey;
 }

.display-3 {
    font-size: 4rem;
}

header .jumbotron {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#map {
    height: 300px;
}