body{
    /* background-color: #ffffff; */
    /* background-color: #e3f2fd; */
    background-color: #E3EEFA;
    margin: 0px;
    padding: 0px;
}

header{
    /* background-color: #b1bfca; */
    background-color: #246DC0;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 5px 8px gray;
}

header heading h1{
   font-family: 'Trebuchet MS', sans-serif;
   margin-bottom: 2px;
   color: #E3EEFA;
}

header heading h3{
   font-family: sans-serif;
   font-style: oblique;
   margin-top: 2px;
   color: #E3EEFA;
}

#imgMeteo{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -100px;
}

main{
    /* background-color: #e3f2fd; */
    background-color: #E3EEFA;
    margin-bottom: 20px;
    padding: 10px;
}

#weather-summary{
    /* float: right; */
    overflow: auto;

}

#weather-img{
    float: right;
    width: 150px;
    height: 150px;
    border: 2px;
    margin-top: -75px;

}

#temp {
    float: right;
    margin-top: -28px;
    margin-right: -22px;
}

section heading h1{
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    margin-left: 10px;
}

#map{
    width: 80%;
    height: 400px;
} 

table {
    padding: 10px;
    /* background-color: #fffffb; */
    width: 70%;
    height: 200px;
    margin: auto;
    /*display: block; */

}

/* table, th, td {
    border: 1px solid black;
 } */
 

footer{
    /* background-color: #b1bfca; */
    background-color: #246DC0;
    padding: 40px;
}

footer a{
    padding-right: 12%;
    padding-left: 5%;
    color: #E3EEFA;
}

footer span{
    display: block;
    text-align: center;
    color: #E3EEFA;
}